.product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.text_content {
    flex: 1;
    width: 100%;
    padding: 0 20px; 
    margin-left: 50px;
    justify-content: space-between;
}

.order-table {
    margin-top: -50px;
    width: 100%;
    border-collapse: collapse;
}

.text_content h1{
    font-family: 'Righteous', sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
}

.product-img{
    width: 150px;
    height: auto;
}

.order-table th {
    color: #FCF1E6;
    padding: 10px 40px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    border-bottom: 2px solid #3D4C6C;
}

.order-table td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Darker Grotesque', sans-serif;
    border-bottom: 1px solid #3D4C6C;
}

.summary h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.summary h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.summary-column {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.summary {
    text-align: right; 
}

.quantity {
    margin: 20px 0;
    display: flex;
    height: 40px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
}

.quantity span{
    width: 100%;
    text-align: center;
}

.minus{
    cursor: pointer;
}

.add{
    cursor: pointer;
}

.icon-button{
    text-decoration: none;
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.table-button{
    width: 20px;
    height: 20px;
}

.summary h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.summary h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.total_summary {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.total_summary table {
    width: 100%;
    max-width: 350px;
}

.total_summary td{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.cart_button{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
}

.add_button {
    border: 3px solid #95A9CB;
    background-color: #E4E9F2;
    color: #3D4C6C;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 2px 90px 5px;
    border-radius: 10px;
    cursor: pointer;
}