.authentication{
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authentication h3{
    font-family: 'Righteous', sans-serif;
    font-size: 100px;
    font-weight: bold;
}
.box{
    width: 450px;
    background-color: #3D4C6C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden; /* Hide the overflow when collapsed */
    transition: height 0.3s ease; /* Add smooth transition for height changes */
}

input[type="text"], input[type="password"]{
    width: 350px;
    height: 45px;
    font-size: 20px;
    border: 2px solid #3d4c6c;
    border-radius: 30px;
    padding: 8px 10px 10px 10px;
    margin: 8px 0;
    background-color: #f8efef;
}
.box p, .box a{
    color: #3D4C6C;
    text-decoration: none;
}
.box a:hover{
    font-weight: bolder;
}
.box a:active{
    color: #3D4C6C;
}

/* LOGIN FORM */
.login-button{
    background-color: #F6B185;
    color: #FCF1E6;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #3D4C6C;
    border-color: #3D4C6C;
    width: 365px;
    height: 45px;
}
.reg-link{
    padding: 2px;
}