.authentication{
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authentication h3{
    font-family: 'Righteous', sans-serif;
    font-size: 100px;
    font-weight: bold;
}
.box{
    width: 450px;
    background-color: #F8EFEF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden; /* Hide the overflow when collapsed */
    transition: height 0.3s ease; /* Add smooth transition for height changes */
}

input[type="text"], input[type="password"]{
    width: 350px;
    height: 45px;
    font-size: 20px;
    border: 2px solid #3d4c6c;
    border-radius: 30px;
    padding: 8px 10px 10px 10px;
    margin: 8px 0;
    background-color: #f8efef;
}
.box p, .box a{
    color: #3D4C6C;
    text-decoration: none;
}
.box a:hover{
    font-weight: bolder;
}
.box a:active{
    color: #3D4C6C;
}

/* LOGIN FORM */
.login-button{
    width: 365px;
    height: 45px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #CFA180;
    border: 2px solid #3D4C6C;
    border-color: #3D4C6C;
    margin: 16px;
    color: #F8EFEF;
    font-weight: bolder;
    font-size: 20px;
}
.reg-link{
    padding: 2px;
}

/* REGISTER FORM */
fieldset {
    border: none;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
.register-button{
    width: 365px;
    height: 45px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #CFA180;
    border: 2px solid #3D4C6C;
    border-color: #3D4C6C;
    margin: 16px;
    color: #F8EFEF;
    font-weight: bolder;
    font-size: 20px;
}