input[name="searching"] {
    width: 218px;
    border: 2px solid #526C99;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 8px 20px;
    margin: 8px 0;
    opacity: 75%;
}

/* DYNAMIC */
.order-box-contents {
    margin: 20px auto;
    padding: 10px;
    background-color: #526C99; /* Set your desired background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead th, tbody td {
    padding: 12px;
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add lines between rows */
}

thead th {
    background-color: #4CAF50; /* Set your desired header background color */
    color: white;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50; /* Set your desired button background color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Set your desired button background color on hover */
}
