.product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.table-header{
    display: flex;
    margin: 5%;
}   

.text_content {
    flex: 1;
    width: 100%;
    padding: 0 20px; 
    margin-left: 50px;
    justify-content: space-between;
}
.order-table     {
    margin-top: -50px;
    width: 100%;
    border-collapse: collapse;
}

.order-table-admin {
    margin-top: -50px;
    width: 100%;
    border-collapse: collapse;
}

.text_content h1{
    font-family: 'Righteous', sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
}

.product-img{
    width: 150px;
    height: auto;
}
.product-contents{
    display: flex;
    justify-content: space-around;
    padding: 0px 10%;
}
.order-table th {
    color: #3D4C6C;
    padding: 1% 14%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid #3D4C6C;
}

.order-table-admin th {
    color: #3D4C6C;
    padding: 1% 14%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid #3D4C6C;
}

.order-table td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Darker Grotesque', sans-serif;
}
.order-table-admin td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Darker Grotesque', sans-serif;
}

.summary h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.summary h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.summary-column {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.summary {
    text-align: right; 
}

.order-table td:last-child{
    text-align: right;
}
.order-table th:last-child{
    text-align: center;
}


.order-table-admin td:last-child{
    text-align: right;
}
.order-table-admin th:last-child{
    text-align: center;
}

.total_summary{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 0% 10%;
}

.total_summary table{
    width: 100%;
    max-width: 350px;
    border-top: 2px solid #3D4C6C;
}

.total_summary td{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.total_summary td:last-child{
    text-align: right;
}
.total_summary th:last-child{
    text-align: right;
}

.overall_total{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 0% 10%;
}

.overall_total table{
    width: 100%;
    max-width: 350px;
    border-top: 2px solid #3D4C6C;
}

.overall_total td{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.overall_total td.price{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.overall_total td:last-child{
    text-align: right;
}
.overall_total th:last-child{
    text-align: right;
}

.customer_info {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.customer_info th {
    color: #3D4C6C;
    padding: 10px 40px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    border-top: 2px solid #3D4C6C;
}

.customer_info td {
    padding: 0 40px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Darker Grotesque', sans-serif;
}
button{
    background-color: #F6B185;
    color: #FCF1E6;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #3D4C6C;
    width: 115px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#selectOption {
    background-color: #F6B185; /* Background color for the dropdown */
    color: #FCF1E6; /* Text color for the dropdown */
    font-weight: bold; /* Font weight for the dropdown */
    font-size: 30px; /* Font size for the dropdown */
    border-radius: 15px; /* Border radius for the dropdown */
    border: 2px solid #3D4C6C; /* Border color for the dropdown */
    margin: 10px;
}

/* Hover effect for the select dropdown */
#selectOption:hover {
    background-color: #3D4C6C; /* Background color on hover */
    color: #FCF1E6; /* Text color on hover */
    cursor: pointer; /* Change cursor on hover */
}

form{
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    margin-left: 4%;
    flex-direction: column;
}
button .submit{
    font-size: 10px;
}