.order-box-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px auto; /* Adjust margin as needed */
}

.column {
    flex: 1;
    text-align: center;
    border: 1px solid #ddd; /* Add border for better visibility */
    padding: 10px;
    box-sizing: border-box;
}

input[name="searching"] {
    width: 218px;
    border: 2px solid #526C99;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 8px 20px;
    margin: 8px 0;
    opacity: 75%;
}
