.product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.text_content {
    flex: 1;
    width: 100%;
    padding: 0 20px; 
    margin-left: 50px;
    justify-content: space-between;
}

.order-table {
    margin-top: -50px;
    width: 100%;
    border-collapse: collapse;
}

.text_content h1{
    font-family: 'Righteous', sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
}

.product-img{
    width: 150px;
    height: auto;
}

.order-table th {
    color: #FCF1E6;
    padding: 10px 40px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    border-bottom: 2px solid #3D4C6C;
}

.order-table td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Darker Grotesque', sans-serif;
}

.summary h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.summary h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.summary-column {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.summary {
    text-align: right; 
}

.order-table td:last-child{
    text-align: right;
}
.order-table th:last-child{
    text-align: right;
}

.total_summary{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.total_summary table{
    width: 100%;
    max-width: 350px;
    border-top: 2px solid #3D4C6C;
}

.total_summary td{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.total_summary td:last-child{
    text-align: right;
}
.total_summary th:last-child{
    text-align: right;
}

.overall_total{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.overall_total table{
    width: 100%;
    max-width: 350px;
    border-top: 2px solid #3D4C6C;
}

.overall_total td{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.overall_total td.price{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.overall_total td:last-child{
    text-align: right;
}
.overall_total th:last-child{
    text-align: right;
}

.customer_info {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.customer_info th {
    color: #3D4C6C;
    padding: 10px 40px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    border-top: 2px solid #3D4C6C;
}

.customer_info td {
    padding: 0 40px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Darker Grotesque', sans-serif;
}