* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Darker Grotesque', sans-serif;
}
body{
    background-color: #3D4C6C;
    color: #F5E6CA;
}
.content{
    width: 95%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin-top: 20vh; */
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1{
    font-weight: bold;
    font-size: 50px;
}

/* PRODUCTS DISPLAY */
.browsing-items {
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.listing {
    background-color: #F5E6CA;
    padding: 40px 45px 15px;
    color: #3D4C6C;
    border-radius: 20px;
    margin-right: 15px;
}
.listing h3 {
    font-weight: bold;
    font-size: 25px;
}
.listing p {
    font-size: 18px;
}
.details-button {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #3D4C6C;
    background-color: #CFA180;
    color: white;
    border-radius: 50px;
    padding: 8px 50px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}