* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Dongle', sans-serif;
}

body {
    background-color: #95A9CB;
    color: #3D4C6C;
}

.box {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #FCF1E6;
    border-radius: 10px;
}

.box-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
}

.start h1 {
    font-size: 64px; /* Adjust the font size as needed */
}
.end {
    display: flex;
    align-items: center;
}

.button-container button {
        padding: 0px 30px;
        font-size: 30px;
        background-color: #E4E9F2;
        color: #95A9CB;
        border: 4px solid #95A9CB;
        border-radius: 15px;
        cursor: pointer;
}

.button-container button:hover {
    background-color: #ffbe94;
}

.button-container #saveBtn {
    background-color: #ffbe94; /* Blue */
}
.container {
    display: flex;
    flex-direction: column; /* Adjust the container to a column layout */
}
.checkbox {
    display: flex;
    align-items: center; /* Align the checkbox and label horizontally */
}
.checkbox input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(2);
}
.checkbox label {
    font-size: 48px;
}
#status {
    font-size: 40px;
}



